{% extends "base.html" %}
{% block body %}

<div class="container" id="vm-console" data-vmid="{{ vmid }}">
    <div class="row" id="session-timer" style="display: none;">
        <div class="col-md-12 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-body text-center">
                    <strong>Session time remaining:</strong>
                    <span id="session-timer-remaining">--:--:--</span>
                    <span id="session-timer-meta"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-body text-center">
                    <p id="console-status">Connecting to console...</p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body p-0">
                    <iframe
                        id="console-frame"
                        title="VM Console"
                        style="width: 100%; height: 75vh; border: 0;"
                        allow="fullscreen"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
